snippet main
	fn main() {
		;
	}

snippet format
	format!("{}{}", a, b);

snippet box
	Box::new();

snippet allows
	#![allow(unused_variables)]
	#![allow(dead_code)]
	#![allow(unused_mut)]
	#![allow(unused_imports)]
